/* alex-brush-regular - latin */
@font-face {
  font-family: 'Alex Brush';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/alex-brush-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Alex Brush Regular'), local('AlexBrush-Regular'),
       url('../fonts/alex-brush-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alex-brush-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alex-brush-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alex-brush-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alex-brush-v11-latin-regular.svg#AlexBrush') format('svg'); /* Legacy iOS */
}


html, body {
  padding: 0;
  margin: 0;
  background-color: #FFFFF4;
  margin: 0; padding: 0; font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; -webkit-font-smoothing: antialiased; font-size: 16px; color: #333;
}

.cont {
  height: 100vh;
  background-position: center;
  background-size: 100%;
  position: relative;
}

.topbox {
  padding: 1rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Alex Brush', cursive;
}

.topbar {
  position: fixed;
  left: 0;
  right: 0;
  /*height: 3rem;*/
  padding-left: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

.navbut {
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}

.topbar {
  position: fixed;
  left: 0;
  right: 0;
  /*height: 3rem;*/
  padding-left: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

.navbut {
  margin-right: 1rem;
}